@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1280px; /* same as max-w-7xl */
  margin: 0 auto;
  padding: 0 16px;
}